In [1]:
import pandas as pd
import numpy as np

import sklearn

from sklearn.model_selection import train_test_split

from sklearn import metrics
from sklearn.metrics import accuracy_score

from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.preprocessing import scale

In [2]:
data = pd.read_csv("/Users/bishmdl76/Downloads/adult.csv")

In [3]:
occupation_missing=[]
for i in range(len(data.occupation)):
    if data.occupation[i] == '?':
        occupation_missing.append(i)

In [4]:
data.drop(occupation_missing,axis=0,inplace=True)

In [5]:
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [6]:
set(data.workclass)

{'Federal-gov',
 'Local-gov',
 'Private',
 'Self-emp-inc',
 'Self-emp-not-inc',
 'State-gov',
 'Without-pay'}

In [7]:
fnlwgt_matrix = data.fnlwgt.values.reshape(-1,1)
scaled = preprocessing.MinMaxScaler()
scaled_fnlwgt = scaled.fit_transform(fnlwgt_matrix)
data.fnlwgt = scaled_fnlwgt

In [8]:
education_num_matrix = data.education_num.values.reshape(-1,1)
scaled = preprocessing.MinMaxScaler()
scaled_education_num = scaled.fit_transform(education_num_matrix)
data.education_num = scaled_education_num

In [9]:
capital_loss_matrix = data.capital_loss.values.reshape(-1,1)
scaled = preprocessing.MinMaxScaler()
scaled_capital_loss = scaled.fit_transform(education_num_matrix)
data.capital_loss = scaled_capital_loss

In [10]:
hours_per_week_matrix = data.hours_per_week.values.reshape(-1,1)
scaled = preprocessing.MinMaxScaler()
scaled_hours_per_week = scaled.fit_transform(hours_per_week_matrix)
data.hours_per_week = scaled_hours_per_week

In [11]:
set(data.race)

{'Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black', 'Other', 'White'}

In [12]:
set(data.sex)

{'Female', 'Male'}

In [13]:
set(data.native_country)

{'?',
 'Cambodia',
 'Canada',
 'China',
 'Columbia',
 'Cuba',
 'Dominican-Republic',
 'Ecuador',
 'El-Salvador',
 'England',
 'France',
 'Germany',
 'Greece',
 'Guatemala',
 'Haiti',
 'Holand-Netherlands',
 'Honduras',
 'Hong',
 'Hungary',
 'India',
 'Iran',
 'Ireland',
 'Italy',
 'Jamaica',
 'Japan',
 'Laos',
 'Mexico',
 'Nicaragua',
 'Outlying-US(Guam-USVI-etc)',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto-Rico',
 'Scotland',
 'South',
 'Taiwan',
 'Thailand',
 'Trinadad&Tobago',
 'United-States',
 'Vietnam',
 'Yugoslavia'}

In [14]:
data.reset_index(drop=True, inplace=True)
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,82,Private,0.080970,HS-grad,0.533333,Widowed,Exec-managerial,Not-in-family,White,Female,0,0.533333,0.173469,United-States,<=50K
1,54,Private,0.086061,7th-8th,0.200000,Divorced,Machine-op-inspct,Unmarried,White,Female,0,0.200000,0.397959,United-States,<=50K
2,41,Private,0.170568,Some-college,0.600000,Separated,Prof-specialty,Own-child,White,Female,0,0.600000,0.397959,United-States,<=50K
3,34,Private,0.138072,HS-grad,0.533333,Divorced,Other-service,Unmarried,White,Female,0,0.533333,0.448980,United-States,<=50K
4,38,Private,0.093024,10th,0.333333,Separated,Adm-clerical,Unmarried,White,Male,0,0.333333,0.397959,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30713,22,Private,0.201493,Some-college,0.600000,Never-married,Protective-serv,Not-in-family,White,Male,0,0.600000,0.397959,United-States,<=50K
30714,27,Private,0.165563,Assoc-acdm,0.733333,Married-civ-spouse,Tech-support,Wife,White,Female,0,0.733333,0.377551,United-States,<=50K
30715,40,Private,0.095589,HS-grad,0.533333,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0.533333,0.397959,United-States,>50K
30716,58,Private,0.093914,HS-grad,0.533333,Widowed,Adm-clerical,Unmarried,White,Female,0,0.533333,0.397959,United-States,<=50K
30717,22,Private,0.127620,HS-grad,0.533333,Never-married,Adm-clerical,Own-child,White,Male,0,0.533333,0.193878,United-States,<=50K

In [15]:
native_country=[]
count1=-1
for i in data.native_country:
    count1=count1+1
    if i=="?":
        native_country.append(count1)

In [16]:
data.drop(native_country,axis=0,inplace=True)

In [17]:
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,82,Private,0.080970,HS-grad,0.533333,Widowed,Exec-managerial,Not-in-family,White,Female,0,0.533333,0.173469,United-States,<=50K
1,54,Private,0.086061,7th-8th,0.200000,Divorced,Machine-op-inspct,Unmarried,White,Female,0,0.200000,0.397959,United-States,<=50K
2,41,Private,0.170568,Some-college,0.600000,Separated,Prof-specialty,Own-child,White,Female,0,0.600000,0.397959,United-States,<=50K
3,34,Private,0.138072,HS-grad,0.533333,Divorced,Other-service,Unmarried,White,Female,0,0.533333,0.448980,United-States,<=50K
4,38,Private,0.093024,10th,0.333333,Separated,Adm-clerical,Unmarried,White,Male,0,0.333333,0.397959,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30713,22,Private,0.201493,Some-college,0.600000,Never-married,Protective-serv,Not-in-family,White,Male,0,0.600000,0.397959,United-States,<=50K
30714,27,Private,0.165563,Assoc-acdm,0.733333,Married-civ-spouse,Tech-support,Wife,White,Female,0,0.733333,0.377551,United-States,<=50K
30715,40,Private,0.095589,HS-grad,0.533333,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0.533333,0.397959,United-States,>50K
30716,58,Private,0.093914,HS-grad,0.533333,Widowed,Adm-clerical,Unmarried,White,Female,0,0.533333,0.397959,United-States,<=50K
30717,22,Private,0.127620,HS-grad,0.533333,Never-married,Adm-clerical,Own-child,White,Male,0,0.533333,0.193878,United-States,<=50K

In [18]:
set(data.native_country)

{'Cambodia',
 'Canada',
 'China',
 'Columbia',
 'Cuba',
 'Dominican-Republic',
 'Ecuador',
 'El-Salvador',
 'England',
 'France',
 'Germany',
 'Greece',
 'Guatemala',
 'Haiti',
 'Holand-Netherlands',
 'Honduras',
 'Hong',
 'Hungary',
 'India',
 'Iran',
 'Ireland',
 'Italy',
 'Jamaica',
 'Japan',
 'Laos',
 'Mexico',
 'Nicaragua',
 'Outlying-US(Guam-USVI-etc)',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto-Rico',
 'Scotland',
 'South',
 'Taiwan',
 'Thailand',
 'Trinadad&Tobago',
 'United-States',
 'Vietnam',
 'Yugoslavia'}

In [19]:
data = data.drop(['race'],axis='columns')

In [20]:
def sex_c(x):
    if x=="Male":
        return 0
    else:
        return 1

In [21]:
data.sex=data.sex.apply(sex_c)

In [22]:
native_country_dummies = pd.get_dummies(data.native_country)
data = pd.concat([data,native_country_dummies],axis='columns')
data = data.drop(['native_country','United-States'],axis='columns')

In [23]:
education_dummies = pd.get_dummies(data.education)
data = pd.concat([data,education_dummies],axis='columns')
data = data.drop(['10th','education'],axis='columns')

In [24]:
marital_status_dummies = pd.get_dummies(data.marital_status)
data = pd.concat([data,marital_status_dummies],axis='columns')
data = data.drop(['Divorced','marital_status'],axis='columns')

In [25]:
occupation_dummies = pd.get_dummies(data.occupation)
data = pd.concat([data,occupation_dummies],axis='columns')
data = data.drop(['Tech-support','occupation'],axis='columns')

In [26]:
relationship_dummies = pd.get_dummies(data.relationship)
data = pd.concat([data,relationship_dummies],axis='columns')
data = data.drop(['Unmarried','relationship'],axis='columns')

In [27]:
def numeric_income(x):
    if x=="<=50K":
        return 0
    else:
        return 1

In [28]:
workclass_dummies = pd.get_dummies(data.workclass)
data = pd.concat([data,workclass_dummies],axis='columns')
data = data.drop(['Private','workclass'],axis='columns')

In [29]:
data.income=data.income.apply(numeric_income)

In [30]:
X=data.drop(['income'],axis='columns')

In [31]:
Y=data.income

In [32]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=.7)

In [33]:
LogReg = LogisticRegression()

In [34]:
LogReg.fit(X_train,Y_train)
print("TRAIN ACCURACY:",LogReg.score(X_train,Y_train))

TRAIN ACCURACY: 0.8450486295313882

/Users/bishmdl76/opt/anaconda3/envs/tf/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [35]:
print("TEST ACCURACY:",LogReg.score(X_test,Y_test))

TEST ACCURACY: 0.8395377474661362